*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;margin:0;outline:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{font-family:Mallanna,sans-serif;color:#000;font-size:16px;line-height:1.2;background:#fff;-webkit-text-size-adjust:none}
a{color:#000;text-decoration:none}
ol,ul{list-style:none}
img{max-width:100%;height:inherit}
table{border-collapse:collapse;border-spacing:0}
.gutterLHS,.gutterRHS{position:fixed;top:218px;width:160px;height:600px;z-index:1;transition:all .5s ease;display:block}
.gutterLHS{right:50%;margin-right:500px}
.gutterRHS{left:50%;margin-left:500px}
.container-fluid{width:100%;float:left;margin-top:10px}
.container{max-width:1000px;margin:0 auto;padding:0 10px;width:100%}
.imgCont img{width:100%;height:inherit}
.adsCont{text-align:center;clear:both;margin:0 0 10px 0;position:relative;z-index:0;background:#d6cece;min-height:110px;padding-top:2px}
.adsCont:before{content:"Advertisement";font-size:10px;line-height:16px;display:block;color:#777}
.customAds{margin:0 0 10px 0}
.top_head{padding:10px 0}
.top_head .container{display:flex;align-items:center}
.top_head .adsCont{margin:0;width:calc(100% - 190px)}
#toggleNav, .menuNavigation{display: none;}
.site_logo img{max-width:170px;margin-right:20px;display:block}
.top_navbar,.top_trending_liks{background:#030a54;min-height:45px}
.top_trending_liks{display:none}
.top_navbar{display:flex;align-items:center}
.top_navbar ul li{display:inline-block;position:relative;font-weight:400;font-size:17px;line-height:36px;padding:0 10px}
.top_navbar ul li::after{content:'\25A0';color:#fff;opacity:.2;display:inline-block;width:5px;position:absolute;right:-3px}
.top_navbar ul li:first-child{padding-left:0}
.top_navbar ul li:last-child::after{display:none}
.top_navbar ul li a{color:#fff}
.top_navbar ul li svg{width:22px;height:22px;fill:#fff;vertical-align:middle}
.bottom_navbar{background:rgba(0,0,0,.1);min-height:42px;display:flex;align-items:center}
.bottom_navbar .container{display:flex;align-items:center}
.bottom_left_menu{flex:1}
.bottom_left_menu li{display:inline-block;font-weight:400;font-size:15px;line-height:36px;padding:0 5px}
.bottom_left_menu li:first-child{padding-left:0}
.bottom_right_menu{display:flex;align-items:center;justify-content:flex-end}
.downloadBTN{background:red;line-height:32px;text-transform:uppercase;border-radius:5px;min-width:120px;text-align:center;font-size:14px}
.downloadBTN a{color:#fff;display:flex;justify-content:center}
.langSwitcher a{color:#000;line-height:36px;text-transform:capitalize;font-weight:400;font-size:16px;border-right:1px solid rgba(0,0,0,.2);padding:0 5px 0 0}
.langSwitcher a:last-child{border-right:0;padding-right:0}
.langSwitcher a.active{color:#be0000}
.search-container{background:#fff;border-radius:5px}
.search-container input[type=text]{padding:6px;font-size:17px;border:none;border-radius:5px 0 0 5px}
.search-container button{float:right;padding:6px 10px;background:#fff;font-size:15px;border:none;cursor:pointer;border-radius:0 5px 5px 0}
.search-container button img{vertical-align:middle}
.downloadBTN,.langSwitcher,.search-container{margin-left:10px}
.commonHD{width:100%;display:flex;justify-content:space-between;align-items:center;margin-bottom:10px;position:relative;border-bottom:1px solid #d2d2d2}
.commonHD h1,.commonHD h2{float:left;text-transform:capitalize;line-height:32px;font-size:20px;color:#000;display:flex;align-items:center;border-bottom:2px solid #030a54}
.moreNews{color:#a30000;text-decoration:underline}
.twoColumn_Layout{display:flex;width:100%;justify-content:flex-start}
.left_col{width:calc(100% - 315px)}
.right_col{width:300px;margin-left:15px}
.right_col .adsCont{min-height:270px}
.latestNews_wrapper{display:flex;justify-content:flex-start}
.latestNews_wrapper .bigNews_Cont{width:362px;margin-right:10px}
.latestNews_wrapper .bigNews_Cont .image_wrap img{width:100%;display:block;margin-bottom:10px}
.latestNews_wrapper .bigNews_Cont figcaption h3 a{font-size:20px;font-weight:400;line-height:26px;}
.latestNews_wrapper .smallNews_Cont{width:calc(100% - 372px)}
.latestNews_wrapper .smallNews_Cont figure{padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #d9d9d9}
.latestNews_wrapper .smallNews_Cont figure:last-child{padding-bottom:0;border-bottom:0}
.latestNews_wrapper .smallNews_Cont figcaption{position:relative;padding-left:15px}
.latestNews_wrapper .smallNews_Cont figcaption::before{content:'\25BA';color:#a30000;font-size:10px;position:absolute;left:0;top:7px}
.latestNews_wrapper .smallNews_Cont figcaption h3 a{font-size:18px;font-weight:400;line-height:24px;}
@media(max-width:767px){
.gutterLHS,.gutterRHS{display:none}
.adsCont{min-height:270px;}
.top_head .container{justify-content: space-between;}
.top_head .adsCont{display:none}
.site_logo img{max-width:105px}
#toggleNav{display: block;}
.MenuBtn{float:left;margin:3px 10px 0 0;cursor:pointer;padding:5px 0 3px 0}
.MenuBtn i{width:24px;display:block;border-top:2px solid #000;padding-top:4px}
.MenuBtn i:nth-child(2){top:23px;margin-left:0}
.MenuBtn i:nth-child(3){top:27px}
.top_navbar ul li::after{width:3px;right:0;}
.top_navbar ul{white-space:nowrap;overflow-x:auto;overflow-y:hidden}
.top_navbar ul::-webkit-scrollbar{display:none}
.bottom_left_menu{display:none}
.bottom_right_menu{justify-content:flex-start;white-space:nowrap;overflow-x:auto;overflow-y:hidden}
.downloadBTN,.search-container{margin-left:0;margin-right:10px}
.langSwitcher{margin-left:0}
.search-container form{display:flex}
.search-container input[type=text]{width:calc(100% - 14px)}
.search-container button{padding:6px 6px 6px 0}
.twoColumn_Layout,.latestNews_wrapper{flex-wrap: wrap;}
.left_col,.right_col,.latestNews_wrapper .bigNews_Cont,.latestNews_wrapper .smallNews_Cont{width: 100%;}
.right_col{margin-left: 0;}
.latestNews_wrapper .bigNews_Cont{margin-right: 0;}
.latestNews_wrapper .bigNews_Cont figcaption{padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #d9d9d9}
}