*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;margin:0;outline:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{font-family:Mallanna,sans-serif;color:#000;font-size:16px;line-height:1.2;background:#fff;-webkit-text-size-adjust:none}
a{color:#000;text-decoration:none}
a:hover{color:#a30000}
ol,ul{list-style:none}
img{max-width:100%;height:inherit}
table{border-collapse:collapse;border-spacing:0}
.gutterLHS,.gutterRHS{position:fixed;top:218px;width:160px;height:600px;z-index:1;transition:all .5s ease;display:block}
.gutterLHS{right:50%;margin-right:500px}
.gutterRHS{left:50%;margin-left:500px}
.container-fluid{width:100%;float:left;margin-top:10px}
.container{max-width:1000px;margin:0 auto;padding:0 10px;width:100%}
.imgCont img{width:100%;height:inherit}
.adsCont{text-align:center;clear:both;margin:0 0 10px 0;position:relative;z-index:0;background:#d6cece;min-height:110px;padding-top:2px}
.adsCont:before{content:"Advertisement";font-size:10px;line-height:16px;display:block;color:#777}
.customAds{margin:0 0 10px 0;text-align:center}
.FlexBox{display:flex;margin-bottom:20px}
.top_head{padding:10px 0}
.top_head .container{display:flex;align-items:center}
.top_head .adsCont{margin:0;width:calc(100% - 155px)}
#toggleNav,.menuNavigation{display:none}
.site_logo img{max-width:135px;margin-right:20px;display:block}
.top_navbar,.top_trending_liks{background:#030a54;min-height:45px}
.top_trending_liks{display:none}
.top_navbar{display:flex;align-items:center}
.top_navbar ul li{display:inline-block;position:relative;font-weight:400;font-size:17px;line-height:36px;padding:0 10px}
.top_navbar ul li::after{content:'';background:#fff;opacity:.2;display:inline-block;width:5px;height:5px;position:absolute;right:-3px;top:18px}
.top_navbar ul li:first-child{padding-left:0}
.top_navbar ul li:last-child::after{display:none}
.top_navbar ul li a{color:#fff}
.top_navbar ul li a:hover{color:#a30000}
.top_navbar ul li svg{width:22px;height:22px;fill:#fff;vertical-align:middle}
.top_navbar ul li:hover svg{fill:#a30000}
.bottom_navbar{background:rgba(0,0,0,.1);min-height:42px;display:flex;align-items:center}
.bottom_navbar .container{display:flex;align-items:center}
.bottom_left_menu{flex:1}
.bottom_left_menu li{display:inline-block;font-weight:400;font-size:15px;line-height:36px;padding:0 5px}
.bottom_left_menu li:first-child{padding-left:0}
.bottom_right_menu{display:flex;align-items:center;justify-content:flex-end}
.downloadBTN{background:red;line-height:32px;text-transform:uppercase;border-radius:5px;min-width:120px;text-align:center;font-size:14px}
.downloadBTN a{color:#fff;display:flex;justify-content:center}
.langSwitcher a{color:#000;line-height:36px;text-transform:capitalize;font-weight:400;font-size:16px;border-right:1px solid rgba(0,0,0,.2);padding:0 5px 0 0}
.langSwitcher a:last-child{border-right:0;padding-right:0}
.langSwitcher a.active{color:#be0000}
.search-container{background:#fff;border-radius:5px}
.search-container input[type=text]{padding:6px;font-size:17px;border:none;border-radius:5px 0 0 5px}
.search-container button{float:right;padding:6px 10px;background:#fff;font-size:15px;border:none;cursor:pointer;border-radius:0 5px 5px 0}
.search-container button img{vertical-align:middle}
.downloadBTN,.langSwitcher,.search-container{margin-left:10px}
.commonHD{width:100%;display:flex;justify-content:space-between;align-items:center;margin-bottom:10px;position:relative;border-bottom:1px solid #d2d2d2}
.commonHD h1,.commonHD h2{float:left;text-transform:capitalize;line-height:32px;font-size:20px;color:#000;display:flex;align-items:center;border-bottom:2px solid #030a54}
.moreNews{color:#a30000}
.twoColumn_Layout{display:flex;width:100%;justify-content:flex-start}
.left_col{width:calc(100% - 315px)}
.right_col{width:300px;margin-left:15px}
.right_col .adsCont{min-height:270px}
.latestNews_wrapper{display:flex;justify-content:flex-start}
.latestNews_wrapper .bigNews_Cont{width:362px;margin-right:10px}
.latestNews_wrapper .bigNews_Cont .image_wrap img{width:100%;display:block;margin-bottom:10px}
.latestNews_wrapper .bigNews_Cont figcaption h3 a{font-size:20px;font-weight:400;line-height:26px}
.latestNews_wrapper .smallNews_Cont{width:calc(100% - 372px)}
.smallNews_Cont figure{padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #d9d9d9}
.smallNews_Cont figure:last-child{padding-bottom:0;border-bottom:0}
.smallNews_Cont figcaption{position:relative;padding-left:15px}
.smallNews_Cont figcaption::before{width:0;height:0;border-top:5px solid transparent;border-left:7px solid #a30000;border-bottom:5px solid transparent;content:'';position:absolute;left:0;top:7px}
.smallNews_Cont figcaption h3{font-size:18px;font-weight:400;line-height:24px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.common_wrapper{display:flex}
.ThumbNews_Media{display:flex;flex-direction:column;width:320px;margin-right:10px}
.ThumbNews_Media figure{display:flex;margin-bottom:2%}
.ThumbNews_Media .image_wrap{width:103px;margin-right:10px}
.ThumbNews_Media figcaption{width:calc(100% - 113px)}
.ThumbNews_Media figcaption h3{font-size:18px;font-weight:400;line-height:24px}
.common_wrapper .smallNews_Cont{display:flex;flex-wrap:wrap;width:calc(100% - 330px)}
.common_wrapper .smallNews_Cont figure{width:32%;margin-right:2%}
.common_wrapper .smallNews_Cont figure:nth-child(3n+3){margin-right:0}
.common_wrapper .smallNews_Cont figure:last-child{padding-bottom:10px;border-bottom:1px solid #d9d9d9}
.stateNews_Block{background:#eee;padding:10px}
.liveTV_wrapp .commonHD img{vertical-align:middle}
.StateNews_Wrapper .tabcontent{display:none;-webkit-animation:fadeEffect 1s;animation:fadeEffect 1s}
.StateNews_Wrapper .tab button{border:0;padding-right:10px;border-right:1px solid rgba(0,0,0,.2);cursor:pointer}
.StateNews_Wrapper .tab button:last-child{border-right:0}
.StateNews_Wrapper .tab button.active{color:#a30000}
@-webkit-keyframes fadeEffect{
from{opacity:0}
to{opacity:1}
}
@keyframes fadeEffect{
from{opacity:0}
to{opacity:1}
}
.stateNews_List{display:flex;flex-wrap:wrap}
.stateNews_List figure{width:23.5%;margin:0 2% 2% 0}
.stateNews_List figure:nth-child(4n+4){margin-right:0}
.stateNews_List figcaption h3{font-size:18px;font-weight:400;line-height:24px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical}
.webStory_wrapper{background:#f9b202;padding:10px;margin-bottom:20px}
.webStory_wrapper .commonHD{border-bottom:1px solid rgba(0,0,0,.1)}
.webStories{padding-bottom:30px}
.webStories .swiper-slide figure{position:relative}
.webStories .swiper-slide figure .image_wrap img{border-radius:25px;display:block;width:100%}
.webStories .swiper-slide figcaption{position:absolute;bottom:0;padding:15px;background:rgba(0,0,0,.6);border-radius:25px}
.webStories .swiper-slide figcaption h3 a{color:#fff}
.webStories .swiper-pagination{bottom:0}
.webStories .swiper-pagination-bullet{background:#030a54;opacity:.15}
.webStories .swiper-pagination-bullet-active{background:#bf0709;opacity:1}
.twoColumn_Layout .common_wrapper .smallNews_Cont figure{width:49%}
.twoColumn_Layout .common_wrapper .smallNews_Cont figure:nth-child(even){margin-right:0}
.twoColumn_Layout .common_wrapper .smallNews_Cont figure:last-child,.twoColumn_Layout .common_wrapper .smallNews_Cont figure:nth-last-child(2){border-bottom:0;margin-bottom:0}
.vidCarousel_wrapper{background:#000;margin-bottom:20px;padding:10px}
.vidCarousel_wrapper .commonHD h2{border-bottom-color:#fff}
.vidCarousel_wrapper .commonHD h2 a{color:#fff}
.vidCarousel_wrapper .moreNews{color:#fff}
.videoSwiper{padding-bottom:30px}
.videoSwiper figure{position:relative}
.videoSwiper figure .image_wrap img{width:100%;display:block}
.videoSwiper figcaption{position:absolute;bottom:0;background:rgba(0,0,0,.7);padding:10px}
.videoSwiper figcaption h3 a{color:#fff}
.videoSwiper figcaption .play_icon{float:right;margin-top:-24px}
.videoSwiper .swiper-pagination{bottom:0}
.videoSwiper .swiper-pagination-bullet{background:#fff;opacity:.2;border-radius:0}
.videoSwiper .swiper-pagination-bullet-active{background:#fff;opacity:1}
.cartoonWrapper{width:320px;background:#57bc3c;padding:10px 46px;margin-right:20px}
.cartoonWrapper .commonHD h2{border-bottom-color:#fff}
.cartoonWrapper .commonHD h2 a{color:#fff}
.cartoonWrapper .moreNews{color:#fff}
.openRK_wrapper{width:calc(100% - 340px);background:#670907;padding:10px 53px}
.openRK_wrapper .rk_logo{text-align:center}
.openRK_wrapper .rk_logo img{border-bottom:1px solid rgba(217,217,217,.3);padding-bottom:10px}
.openRK_wrapper figure{position:relative}
.openRK_wrapper figure .image_wrap img{display:block}
.openRK_wrapper figcaption{position:absolute;bottom:0;padding:10px;background:rgba(0,0,0,.8)}
.openRK_wrapper figcaption h3 a{color:#fff;font-size:24px;line-height:30px}
.rkSwiper{padding-bottom:30px}
.rkSwiper .swiper-pagination{bottom:0}
.rkSwiper .swiper-pagination-bullet{background:#fff;opacity:.2;border-radius:0}
.rkSwiper .swiper-pagination-bullet-active{background:#fff;opacity:1}
.photoCarousel_wrapper{background:#030a54;margin-bottom:20px;padding:10px}
.photoCarousel_wrapper .commonHD h2{border-bottom-color:#fff}
.photoCarousel_wrapper .commonHD h2 a{color:#fff}
.photoCarousel_wrapper .moreNews{color:#fff}
.photoSwiper{padding-bottom:30px}
.photoSwiper figcaption h3 a{color:#fff;font-size:18px}
.photoSwiper .swiper-pagination{bottom:0}
.photoSwiper .swiper-pagination-bullet{background:#fff;opacity:.2;border-radius:0}
.photoSwiper .swiper-pagination-bullet-active{background:#fff;opacity:1}
.commonNews_Section{margin-bottom:20px;display:flow-root}
.commonNews_Section .bigNews_Cont{width:265px;margin-right:10px;float:left}
.commonNews_Section .smallNews_Cont{width:calc(100% - 275px);float:left;display:flex;flex-wrap:wrap}
.commonNews_Section .smallNews_Cont figure{width:33.33%;padding:2%;margin-bottom:0;border-right:1px solid #d9d9d9}
.commonNews_Section .smallNews_Cont figure:nth-child(3),.commonNews_Section .smallNews_Cont figure:nth-child(6){border-right:0}
.commonNews_Section .smallNews_Cont figure:nth-child(4),.commonNews_Section .smallNews_Cont figure:nth-child(5),.commonNews_Section .smallNews_Cont figure:nth-child(6){border-bottom:0}
.commonNews_Section .smallNews_Cont figcaption h3{-webkit-line-clamp:unset}
.grey_bg{background:#eee;padding:10px;margin-bottom:20px}
.newsCol{width:49%;margin-right:2%}
.newsCol:last-child{margin-right:0}
.newsCol .ThumbNews_Media{width:290px}
.newsCol .ThumbNews_Media figcaption h3{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical}
.newsCol .common_wrapper .smallNews_Cont{width:calc(100% - 300px)}
.newsCol .smallNews_Cont figure{width:100%}
.newsCol .smallNews_Cont figure:last-child{border-bottom:0;margin-bottom:0}
.main_footer{background:#282828;padding:20px 0;clear:both}
.footer_top{text-align:center}
.footer_top ul{margin-bottom:10px;}
.footer_top ul li{display:inline-block;margin-right:10px;padding-right:10px;position:relative}
.footer_top ul li::before{position:absolute;right:0;top:34%;border-right:solid 1px #fff;content:'';height:12px}
.footer_top ul li:last-child::before{display: none;}
.footer_top ul li a{color:#fff;font-size:17px;line-height:23px}
.footer_top ul.englishLinks li a{font-size:15px;line-height:21px}
.footer_bottom{padding: 10px;border-top: 1px solid #414141;text-align: center;}
.contactInfo{color:#fff;margin-bottom:10px;}
.contactInfo p{font-size: 16px;line-height:25px;}
.footer_logo img{display: block;}
.footer_social{display: flex;justify-content: space-evenly;align-items: center;}
.footer_social ul li{display:inline-block;width:24px;height:24px;margin:0 10px 0 0}
.scrolltop{width:35px;height:35px;border-radius:100%;position:fixed;bottom:40px;right:160px;display:none;background-color:red;z-index:99;text-align:center;cursor:pointer}
.scrolltop:after{border-bottom-style:solid;border-bottom-width:2px;border-right-style:solid;border-right-width:2px;content:"";display:inline-block;height:12px;width:12px;border-color:#fff;-moz-transform:rotate(225deg);-ms-transform:rotate(225deg);-webkit-transform:rotate(225deg);transform:rotate(225deg);margin-top:14px}
@media(max-width:767px){
.gutterLHS,.gutterRHS{display:none}
.adsCont{min-height:270px}
.top_head{padding:5px 0}
.top_head .container{justify-content:space-between}
.top_head .adsCont{display:none}
.site_logo img{max-width:80px}
#toggleNav{display:block}
.MenuBtn{float:left;margin:3px 10px 0 0;cursor:pointer;padding:5px 0 3px 0}
.MenuBtn i{width:24px;display:block;border-top:2px solid #000;padding-top:4px}
.MenuBtn i:nth-child(2){top:23px;margin-left:0}
.MenuBtn i:nth-child(3){top:27px}
.top_navbar ul{white-space:nowrap;overflow-x:auto;overflow-y:hidden}
.top_navbar ul::-webkit-scrollbar{display:none}
.bottom_left_menu{display:none}
.bottom_right_menu{justify-content:flex-start;white-space:nowrap;overflow-x:auto;overflow-y:hidden}
.downloadBTN,.search-container{margin-left:0;margin-right:10px}
.langSwitcher{margin-left:0}
.search-container form{display:flex}
.search-container input[type=text]{width:calc(100% - 14px)}
.search-container button{padding:6px 6px 6px 0}
.latestNews_wrapper,.twoColumn_Layout{flex-wrap:wrap}
.latestNews_wrapper .bigNews_Cont,.latestNews_wrapper .smallNews_Cont,.left_col,.right_col{width:100%}
.right_col{margin-left:0}
.latestNews_wrapper .bigNews_Cont{margin-right:0}
.latestNews_wrapper .bigNews_Cont figcaption{padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #d9d9d9}
.common_wrapper{flex-wrap:wrap}
.ThumbNews_Media{width:100%;margin-right:0}
.ThumbNews_Media figure{padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #d9d9d9}
.common_wrapper .smallNews_Cont{width:100%}
.common_wrapper .smallNews_Cont figure{width:100%;margin-right:0}
.stateNews_Block{margin:0 -10px}
.vidCarousel_wrapper,.webStory_wrapper{margin:0 -10px 20px -10px}
.StateNews_Wrapper{margin-bottom:10px}
.stateNews_List figure{width:49%}
.stateNews_List figure:nth-child(even){margin-right:0}
}